<h1>Pledge For <%= @project.title %></h1>

<%= form_for [@project, @pledge] do |f| %>
  
  
  <%= f.label :amount %>
  <%= f.text_field :amount %>

  <div class="form-actions">
    <%= f.submit 'Pledge Now', :class => 'btn' %>
  </div>

<% end %>


