<h1><%= @project.title %></h1>
<h3>By: <%= @project.user.first_name %> <%= @project.user.last_name %></h3>

<p>Teaser: <%= @project.teaser %></p>
<p>Description: <%= @project.description %></p>
<p>Goal: <%= @project.goal %></p>


