<%= form_for [:my, @project] do |f| %>

  <div>
	  <%= f.text_field :title, placeholder: 'Project Title' %>
	</div>
	<div>
	  <%= f.number_field :goal, placeholder: 'Goal Amount' %>
	</div>
	<div>
	  <%= f.text_area :teaser, rows: 2, placeholder: 'Teaser text' %>
	</div>
	<div>
	  <%= f.text_area :description, rows: 10, placeholder: 'Detailed description' %>
	</div>
  <div class="form-actions">
    <%= f.submit 'Publish Project', class: 'btn btn-primary' %>
  </div>

<% end %>