<div class="span6">
	<h1><%= @project.title %></h1>
	<h4>By: <%= @project.user.first_name %> <%= @project.user.last_name %></h4>

	<p>Teaser: <%= @project.teaser %></p>
	<p>Description: <%= @project.description %></p>
	<p>Goal: $<%= @project.goal %></p>
	<% @project.pledges.each do |pledge| %>
		<% @total_pledged += pledge.amount %>
	<% end %>
	<p>Total Pledges: <%= @total_pledged %></p>
	<% @percentage = ((@total_pledged.to_f/@project.goal.to_f)*100).to_i %>
	<p>Percent of Goal Reach: <%= @percentage %>%</p>
	<div class="progress">
		<div class="bar" style="width: <%=@percentage%>%;"></div>
	</div>


	<h4>Pledges:</h4>
	<% @project.pledges.each do |pledge| %>
		<p>Amount: $ <%= pledge.amount %></p>
		<p>User: <%= link_to pledge.user.email, user_path(pledge.user) %></p>
		<p>When: <%= pledge.created_at%></p><br>
	<% end %>

</div>